<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current_menu.title}-{$Think.config.sitename}</title>

		<meta name="keywords" content="{$Think.config.keywords}" />
		<meta name="description" content="{$Think.config.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/bootstrap.css" />
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/font-awesome.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace-skins.css"  />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace-ie.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{$Think.config.url}/static/admin/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{$Think.config.url}/static/admin/js/html5shiv.js"></script>
		<script src="{$Think.config.url}/static/admin/js/respond.js"></script>
		<![endif]-->
	</head>

	<body class="{$user.skin}">
		<!-- #section:basics/navbar.layout -->
{include file="common/header" /}
		<!-- /section:basics/navbar.layout -->
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
{include file="common/sidebar" /}
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
{include file="common/breadcrumbs" /}
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
{include file="common/settingsbox" /}
						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<form class="form-horizontal" action="{:url('index',['act'=>'update'])}" method="post">
									<input name="k" type="hidden" value="{$var.k ?? ''}">
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="name"> 名称 </label>
										<div class="col-sm-9">
											<input type="text" name="name" id="name" class="col-xs-10 col-sm-5" value="{$var.name ?? ''}" required="required">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="var"> 变量名 </label>
										<div class="col-sm-9">
											<input type="text" name="var" id="var" placeholder="变量名，如：var" class="col-xs-10 col-sm-5" value="{$var.k ?? ''}" required="required">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="v"> 变量值 </label>
										<div class="col-sm-9">
											<input type="text" name="v" id="v" placeholder="变量值" class="col-xs-10 col-sm-5" value="{$var.v ?? ''}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>
									
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="tips"> 提示说明 </label>
										<div class="col-sm-9">
											<input type="text" name="tips" id="tips" placeholder="" class="col-xs-10 col-sm-5" value="{$var.tips ?? ''}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">提示说明，小于255个字符。</span>
											</span>
										</div>
									</div>
									
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="o"> 排序 </label>
										<div class="col-sm-9">
											<input type="number" name="o" id="o" placeholder="" class="col-xs-10 col-sm-5" value="{$var.o ?? ''}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">整数，越小越靠前</span>
											</span>
										</div>
									</div>
									
									<div class="space-4"></div>
									<div class="col-md-offset-2 col-md-9">
										<button id="submit" class="btn btn-info" type="submit">
											<i class="icon-ok bigger-110"></i>
											提交
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
{include file="common/footer" /}
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{$Think.config.url}/static/admin/js/jquery.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{$Think.config.url}/static/admin/js/jquery1x.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{$Think.config.url}/static/admin/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="{$Think.config.url}/static/admin/js/bootstrap.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="{$Think.config.url}/static/admin/js/ace/elements.scroller.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.colorpicker.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.fileinput.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.typeahead.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.wysiwyg.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.spinner.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.treeview.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.wizard.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.aside.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.ajax-content.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.touch-drag.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.sidebar.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.sidebar-scroll-1.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.submenu-hover.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.widget-box.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.settings.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.settings-rtl.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.settings-skin.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.widget-on-reload.js"></script>
		<script type="text/javascript" src="{$Think.config.url}/admin/js/js"></script>

		<!-- inline scripts related to this page -->

	</body>
</html>
