<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current_menu.title}-{$Think.config.sitename}</title>

		<meta name="keywords" content="{$Think.config.keywords}" />
		<meta name="description" content="{$Think.config.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/bootstrap.css" />
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/font-awesome.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{$Think.config.url}/static/admin/css/ace-ie.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{$Think.config.url}/static/admin/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{$Think.config.url}/static/admin/js/html5shiv.js"></script>
		<script src="{$Think.config.url}/static/admin/js/respond.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
{include file="common/header" /}
		<!-- /section:basics/navbar.layout -->
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
{include file="common/sidebar" /}
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
{include file="common/breadcrumbs" /}
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
{include file="common/settingsbox" /}
						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
								<form id="export-form" method="post" action="{:url('backup',['act'=>'export'])}">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th width="48"><input class="check-all" checked="chedked" type="checkbox" value=""></th>
												<th width="100">表名</th>
												<th width="100">数据引擎</th>
												<th width="100">数据量</th>
												<th width="100">数据大小</th>
												<th width="100">创建时间</th>
												<th width="100">备份状态</th>
												<th width="100">操作</th>
											</tr>
										</thead>
										<tbody>
											{volist name="list" id="table"}
												<tr>
													<td class="num">
														<input class="tables" checked="chedked" type="checkbox" name="tables[]" value="{$table.name}">
													</td>
													<td>{$table.name}</td>
													<td>{$table.engine}</td>
													<td>{$table.rows}</td>
													<td>{$table.data_length|format_bytes}</td>
													<td>{$table.create_time}</td>
													<td class="msg" id="id{$i-1}">未备份</td>
													<td class="action">
														<a class="ajax-get no-refresh" href="{:url('Database/optimize?tables='.$table['name'])}">优化表</a>&nbsp;
														<a class="ajax-get no-refresh" href="{:url('Database/repair?tables='.$table['name'])}">修复表</a>
													</td>
												</tr>
											{/volist}
										</tbody>
									</table>
									</div>
									<div class="row">
										<a id="export" class="btn btn-info" href="javascript:;" autocomplete="off">立即备份</a>
										<a id="optimize" class="btn btn-info" href="{:url('optimize')}">优化表</a>
										<a id="repair" class="btn btn-info" href="{:url('repair')}">修复表</a>
										<a class="btn btn-info" href="{:url('recovery')}">数据还原</a>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
{include file="common/footer" /}
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{$Think.config.url}/static/admin/js/jquery.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{$Think.config.url}/static/admin/js/jquery1x.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{$Think.config.url}/static/admin/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="{$Think.config.url}/static/admin/js/bootstrap.js"></script>

		<!-- page specific plugin scripts -->
		<script src="{$Think.config.url}/static/admin/js/bootbox.js"></script>
		<!-- ace scripts -->
		<script src="{$Think.config.url}/static/admin/js/ace/elements.scroller.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.colorpicker.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.fileinput.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.typeahead.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.wysiwyg.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.spinner.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.treeview.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.wizard.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/elements.aside.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.ajax-content.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.touch-drag.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.sidebar.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.sidebar-scroll-1.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.submenu-hover.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.widget-box.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.settings.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.settings-rtl.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.settings-skin.js"></script>
		<script src="{$Think.config.url}/static/admin/js/ace/ace.widget-on-reload.js"></script>
		<script type="text/javascript" src="{$Think.config.url}/admin/js/autocomplete"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(function(){
				//全选的实现
			$(".check-all").click(function(){
				$(".tables").prop("checked", this.checked);
			});
			$(".tables").click(function(){
				var option = $(".tables");
				option.each(function(i){
					if(!this.checked){
						$(".check-all").prop("checked", false);
						return false;
					}else{
						$(".check-all").prop("checked", true);
					}
				});
			});
			var $form = $("#export-form"), $export = $("#export"), tables, $optimize = $("#optimize"), $repair = $("#repair");

			$optimize.add($repair).click(function(){
				$.post(this.href, $form.serialize(), function(data){
					if(data.code){
						bootbox.dialog({
							message: data.msg, 
							buttons: {
								"success" : {
									"label" : "确定",
									"className" : "btn-sm btn-primary"
								}
							}
						});
					} else {
						bootbox.dialog({
							message: data.msg, 
							buttons: {
								"success" : {
									"label" : "确定",
									"className" : "btn-danger"
								}
							}
						});
					}
					setTimeout(function(){
						$('#top-alert').find('button').click();
						$(this).removeClass('disabled').prop('disabled',false);
					},1500);
				}, "json");
				return false;
			});

			$export.click(function(){
				$export.parent().children().addClass("disabled");
				$export.html("正在发送备份请求...");
				$.post(
					$form.attr("action"),
					$form.serialize(),
					function(data){
						if(data.code){
							tables = data.tables;
							$export.html(data.msg + "开始备份，请不要关闭本页面！");
							backup(data.data.tab);
							window.onbeforeunload = function(){ return "正在备份数据库，请不要关闭！" }
						} else {
							bootbox.dialog({
								message: data.msg, 
								buttons: {
									"success" : {
										"label" : "确定",
										"className" : "btn-danger"
									}
								}
							});
							$export.parent().children().removeClass("disabled");
							$export.html("立即备份");
							setTimeout(function(){
								$('#top-alert').find('button').click();
								//$(that).removeClass('disabled').prop('disabled',false);
							},1500);
						}
					},
					"json"
				);
				return false;
			});

			function backup(tab, status){
				status && showmsg(tab.id, "开始备份...(0%)");
				$.get($form.attr("action"), tab, function(data){
					if(data.code){
						showmsg(tab.id, data.msg);

						if(!$.isPlainObject(data.data.tab)){
							$export.parent().children().removeClass("disabled");
							$export.html("备份完成，点击重新备份");
							window.onbeforeunload = function(){ return null }
							return;
						}
						backup(data.data.tab, tab.id != data.data.tab.id);
					} else {
						bootbox.dialog({
							message: data.msg, 
							buttons: {
								"success" : {
									"label" : "确定",
									"className" : "btn-danger"
								}
							}
						});
						$export.parent().children().removeClass("disabled");
						$export.html("立即备份");
						setTimeout(function(){
							$('#top-alert').find('button').click();
							$(that).removeClass('disabled').prop('disabled',false);
						},1500);
					}
				}, "json");

			}

			function showmsg(id, msg){
				$("#id"+id).html(msg);
			}
		});
		</script>
	</body>
</html>
